[submodule "ProjectFiles/1985_Unity5/Assets/Libraries/ScrappiesToolbox"]
	path = ProjectFiles/1985_Unity5/Assets/Libraries/ScrappiesToolbox
	url = https://github.com/ScrapPaperDev/ScrappiesToolbox.git
